<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>sk-PXAgJXcaBx6hvjABTr603jmwyoLIztOHOFnrEPYuf1sD48Un</string>
	<key>API_HOST</key>
	<string>https://api.stability.ai</string>
</dict>
</plist>
