<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300965174381-rdb4639t7n2rtq3aaebvp23uuedcdfa4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300965174381-rdb4639t7n2rtq3aaebvp23uuedcdfa4</string>
	<key>API_KEY</key>
	<string>AIzaSyA3LTir6_VltUT2uySn5tY8FxAIGcOW8bI</string>
	<key>GCM_SENDER_ID</key>
	<string>300965174381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ihsanakbay.diffuVision-AI</string>
	<key>PROJECT_ID</key>
	<string>diffuvisionai</string>
	<key>STORAGE_BUCKET</key>
	<string>diffuvisionai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300965174381:ios:4b35e2fe4125d625c17364</string>
</dict>
</plist>